@import "../../sass/var";

.chat-space-header {
  padding: .4rem 1rem;
  border-bottom: 1px solid $gray-300;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(white, .5);

}

.user-name {
  margin-bottom: 0;
  letter-spacing: .1rem;
}

.dialogue {
  padding: 1.5rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.dialog {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  > {
    .avatar {
      flex-shrink: 0;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      overflow: hidden;
      > img {
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }
    .say {
      line-height: 1.5;
      display: inline-block;
      border-radius: 1.5rem;
      padding: .8rem 1.2rem;
      position: relative;
      &::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        top: 1.2rem;
        border-style: solid;
        position: absolute;
      }
    }
    .states {
      color: $gray-700;
      font-size: 1.2rem;
      line-height: 1.2;
      margin-left: 1rem;
      margin-bottom: .1rem;
      flex-shrink: 0;
      align-self: flex-end;
    }
  }
  &.remote {
    justify-content: flex-start;
    > {
      .say {
        background-color: white;
        margin-left: 1.6rem;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 1px -2px,
                    rgba(0, 0, 0, 0.12) 0px 2px 2px 0px,
                    rgba(0, 0, 0, 0.08) 0px 1px 5px 0px;
        &::before {
          border-color: transparent white transparent transparent;
          border-width: 0 1rem 1rem 0;
          left: 0;
          transform: translateX(-95%);
        }
      }
      .states {
        margin-left: .4rem;
      }
    }
  }
  &.local {
    flex-direction: row-reverse;
    > {
      .say {
        background-color: #D8DCE7;
        margin-right: 1.6rem;
        &::before {
          border-color: transparent transparent transparent #D8DCE7;
          border-width: 0 0 1rem 1rem;
          right: 0;
          transform: translateX(95%);
        }
      }
      .states {
        margin-right: .4rem;
        text-align: right;
      }
    }
  }
}

.chat-input {
  border-top: 1px solid $gray-300;
  background-color: rgba(white, .7);
  &-field {
    textarea {
      line-height: 1.5;
      width: 100%;
      border-width: 0;
      padding: 1.5rem;
      resize: none;
      display: block;
      background-color: transparent;
      &:focus {
        outline-width: 0;
      }
    }
  }
  &-tool {
    padding: 0 1.5rem;
    display: flex;
    justify-content: flex-end;
  }
}

.icon-btn {
  font-size: 2rem;
  padding: .5rem 1.2rem;
  background-color: transparent;
  border-width: 0;
  &:focus {
    outline-width: 0;
  }
  &:hover {
    color: $primary;
  }
}

@media only screen and (min-width: 768px) {
  .chat-space-header {
    padding: 1.5rem;
    .icon-btn {
      display: none;
      align-self: flex-end;
    }
  }
}

@media only screen and (max-width: 767px) {
  .user-name {
    font-size: 1.8rem;
  }
  .chat-input {
    display: flex;
    &-field {
      flex: 1 1;
    }
    &-tool {
      flex-shrink: 0;
      padding: 0 .8rem 0 0;
    }
  }
}
