$line-height-base: 1.7;
$headings-line-height: 1.2;

$gutter: 1.5rem;
$headings-margin-bottom: 2rem;
$paragraph-margin-bottom: 1.5rem;

$input-gutter-y: 1.2rem;
$input-gutter-x: 1.5rem;
$btn-gutter-x: 3rem;

$border: 1px solid transparent;

$border-radius: 4px;
$rounded-pill: 10000rem;

$success-border: #68d391;
$success-bg: #f0fff4;
$success-text: #2f855a;
$danger-border: #fc8181;
$danger-bg: #fff5f5;
$danger-text: #c53030;
$warning-border: #f6ad55;
$warning-bg: #fffaf0;
$warning-text: #c05621;
$info-border: #63b3ed;
$info-bg: #ebf8ff;
$info-text: #2b6cb0;

$purple-100: #faf5ff;
$purple-200: #e9d8fd;
$purple-300: #d6bcfa;
$purple-400: #b794f4;
$purple-500: #9f7aea;
$purple-600: #805ad5;
$purple-700: #6b46c1;
$purple-800: #553c9a;
$purple-900: #44337a;

$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

$primary: #4EA7DF;
$secondary: #ACD7F6;
$bg-color: #ebf8ff;
$text-color: $gray-900;
