.input-field {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  > {
    div, button {
      margin: 0;
    }
    div {
      border-radius: 4px 0 0 4px;
    }
    button {
      font-size: 1.4rem;
      line-height: 25px;
      padding: 1.5rem;
      border-radius: 0 4px 4px 0;
    }
  }
}
