@import "../../sass/var";
@import "../../sass/button";

.account {
  .container {
    max-width: 500px;
    > {
      h1 {
        margin-top: 6rem;
        margin-bottom: 3rem;
      }
    }
  }
  .value, .label {
    padding: 1.5rem 0;
    margin-bottom: 0;
  }
  .label {
    text-align: right;
  }
  .value {
    color: $primary;
  }
  &-content {
    background-color: white;
    border-radius: .4rem;
    padding: 3rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 4px 0px,
                rgba(0, 0, 0, 0.08) 0px 1px 8px 0px;
  }
}

.nickname {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .btn {
    flex-shrink: 0;
    letter-spacing: 1px;
    color: white;
    background-color: $gray-500;
    &:hover {
      background-color: $primary;
    }
  }
}
